/* General*/
body{
  background-color: #FF8C08;
  overflow-x: hidden;
  width:100%;
  padding: 0;
  margin: 0;
  }

img{
  display: block;
  max-width: 100%;
}

section{
  padding: 5em 2em;
}

/*Typography*/
h1, h2, h3{
  color: #FFFFFF; 
  font-family: Arial, Helvetica, sans-serif;
}

.header2_2{
  color: #FF8C08; 
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.25em;
  font-weight: 100;
  line-height:4em
}

#header-title{
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 100;
  float: right;
}

strong{
  font-size: 100pt
}

p{
  font-family: Arial, Helvetica, sans-serif
}

.para{
  color: #9B8DA5;
}

.para-accents{
  color: #FFFFFF;
}

/* Nav Section*/
.navbar{
  background: linear-gradient(to bottom, #FF8C08, transparent);
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0 auto; /* found workaround for container width: https://www.youtube.com/watch?v=FEmysQARWFU */
  z-index: 1;
}

nav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover{
  background-color: #FFFFFF;
  color: #FF8C08;
}

nav a:hover img {
  border-bottom:0px;
}

nav a:visited{
  background:#FFFFFF;
  opacity: 50%;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Home Section */
#home{
  position: relative;
  padding-left: 10%;
}
#title{
  width: 60%;
  }

/*Home Section - JS BG */
canvas{
  background: linear-gradient(-135deg, #FF8C08, #FEA742);
  margin:0;
  position: relative;
  width: 100%;
  height: 100%
}

#hero { 
  top: 0;
  margin: 0;
  overflow-x: hidden;
  z-index: -9999;
  width: 110%;
  overflow: visible;
  padding: 0;
  position: absolute;
}

/*About Me section*/
#aboutme{
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  padding-left: 10%;
}

#aboutme-container{
  display: inline-flex;
}

#about-me-text {
  width: 30%;
  display: inline-block
}

#about-me-text-header{
  color: #FF8C08;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.para{
  overflow: auto;
}

/*illustration*/
#about-me-ill-div{
  padding-left:5%;
  display: inline-block;
  max-width: 50%;
  }

#about-me-ill{
  max-width: 90%;
  min-width: 50%;
} 
  

/*Button https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
#cv-button{
  background-color: #FF8C08;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Project https://www.youtube.com/watch?v=_xkSvufmjEs&t=1121s*/
#work{
  width:100%;
  background-color: #FFFFFF;
  height: auto;
  display: block;
}

#work-text{
  padding-left: 10%;
}

.section-title{
  color: #FF8C08;
  font-size: 2em;
}

.portfolio{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left:5%;
  margin-right: 5%;
  padding: 5% 0;
}

.portfolio-item{
  background-color: #FFFFFF;
}

/* Contact Me*/
hr{
 border: 2px solid #FFFFFF;
/* https://www.w3schools.com/howto/howto_css_style_hr.asp*/
 margin:0;
}

#contactme{
  height: auto;
  background-color: #FF8C08;
  width: 100%;
  display: relative;
  left:0;
  padding-left: 10%;
 }

/* Social Media */
#smicon{
  float: left;
  margin-left: 10%;
}

#dribblelogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

#githublogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

#linkedinlogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

#emaillogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

/* Footer Section*/
#footer-div{ 
  color: #FF8C08;
  width: 100%;
  margin: auto;
  left:0;
  bottom:0;
  top:0;
  text-align: center;
  position: relative;
}

#footer-text{
  margin: 0;
  font-size: 1em;
  text-align: center;
  padding: 10px;
}

/*ADDITIONAL PAGES - Project examples*/
.projectexample-wrapper{
  margin: 10%;
}

.projectexample-text{
  top:0;
  width: 40%;
  display: inline-block;
  vertical-align:top;
  color: #9B8DA5 !important;
}

.projectexample-image{
  max-width: 80%;
  min-width: 30%;
  display: inline-block;
}

#projectexample_1{
  width: 80%;
}

.project-header{
  text-decoration: none !important;
  font-size: 1.75em;
}

.title-logo{
  display: inline-block;
  padding: 0.5em;
  right:0;
  top: 0;
  position: fixed;
  z-index: 1;
  margin: 1em;
}

.block-para{
  background-color: #FFFFFF;
  border-radius: 1em;
  padding: 1% 10%;
}