/* General*/


body{
  background-color: #FF8C08;
  overflow-x: hidden;
  width:100%
  }

img{
  display: block;
  max-width: 100%;
}

/*Typography*/
h1, h2, h3{
  color: #FFFFFF; 
  font-family: Arial, Helvetica, sans-serif;
}

.header2_2{
  color: #FF8C08; 
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: 100;
  line-height:4em
}

#header-title{
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 100;
  margin-right: 5%;
}

strong{
  font-size: 100pt
}

p{
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif
}

.para{
  color: #9B8DA5;
}

/* Nav Section*/
nav a {
  text-decoration: none;
  text-align: center;
  color:#FFFFFF;
  width: 150px;
  display: inline-block
}

nav a:hover{
  border-bottom: 3px #574B60;
  font-weight: bold;
}

nav a:hover img {
  border-bottom:0px;
}

nav a:visited{
  background:#FFFFFF;
  opacity: 50%;
}

nav ul /* https://www.w3schools.com/css/css_navbar.asp*/ {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
}

nav li {
  display: inline; /**/
  margin-left:70px;
  padding-top:25px;
}

#mainnav {
  width: 100%;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  text-align: center;
  display: inline-block;
  padding-top: 25px;
  margin-left:5%;
}

#container {
  width: 100%;
  margin: 0 auto; /* found workaround for container width: https://www.youtube.com/watch?v=FEmysQARWFU */
  left: -20px;
  right: -20px
}

#banner{
  padding-top: 50px;
}


/*Home Section */
#banner{
  margin-left:10%;
}
#title{
  width: 60%;
  }
#container{
  background: linear-gradient(to bottom, #FF8C08, transparent);
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
 }
/*Home Section - JS BG */
canvas{
  background: linear-gradient(-135deg, #FF8C08, #FEA742);
  margin:0;
  left: -20px;
  position: relative;
  width: 100%;
  height: 100%
}

#hero { 
  top: 0;
  margin: 0;
  overflow-x: hidden;
  z-index: -9999;
  width: 110%;
  overflow: visible;
  padding: 0;
  position: absolute;
}

/*About Me section*/
#aboutme{
  background-color: #FFFFFF;
  width: 100%;
  height: 550px;
  padding: 0;
}

#aboutme-container{
  display: inline-block;
  margin-left:10%;
  margin-top: 5%;
}

#about-me-text {
  position:absolute;
  z-index:1;
  width: 30%
}

#about-me-text-header{
  color: #FF8C08;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25pt;
}


/*illustration*/
#about-me-ill-div{
  float: right;
  position:relative;
  z-index:0;
  margin-left: 40%;
  padding:0;
  }

#about-me-ill{
  width: 100%;
} 
  

/*Button https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
#cv-button{
  background-color: #FF8C08;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Project*/
#projects{
  width:100%;
  background-color: #FFFFFF;
  height: 550px;
}

.section-title{
  margin-left: 10%;
  margin-top: 5%;
  color: #FF8C08;
}

#project-para{
 margin-left: 10%;
}

.portfolio{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width:80%;
  margin: 0 auto;
}

.portfolio-item{
  background-color: #FFFFFF;
}

/* Contact Me*/
hr{
border: 2px solid #FFFFFF;
/* https://www.w3schools.com/howto/howto_css_style_hr.asp*/
margin:0;
}
#contactme{
  height: 300px;
  margin-left: 10%;
 }

#contactheader{
  top: -20px;
}

/* Social Media */
#smicon{
  float: left;
  margin-left: 10%;
}

#dribblelogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

#githublogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

#linkedinlogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

#emaillogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

/* Footer Section*/

#footer-div{ 
  color: #FF8C08;
  width:100%;
  margin: auto;
  left:0;
  bottom:0;
  top:0;
  text-align: center;
}
#footer-text{
margin: 0;
font-size: 1em;
text-align: center;
padding: 10px;
}