/* General*/
html {
  scroll-behavior: smooth;
}

body{
  background-color: #FF8C08;
  overflow-x: hidden;
  width:100%;
  padding: 0;
  margin: 0;
  }

img{
  display: block;
  max-width: 100%;
}

section{
  padding: 5em 2em;
}

/*Typography*/
h1, h2, h3{
  color: #FFFFFF; 
  font-family: Arial, Helvetica, sans-serif;
}

.header2_2{
  color: #FF8C08; 
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.25em;
  font-weight: 100;
  line-height:1em
}

#header-title{
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 100;
  float: right;
}

p{
  font-family: Arial, Helvetica, sans-serif
}

.para{
  color: #9B8DA5;
}

.para-accents{
  color: #FFFFFF;
}

#intro{
  font-size: 1.5em;
  font-weight: 100;
  line-height:1.5em;
  padding:0;
  margin:0;
}

/* Nav Section*/
.navbar{
  background: linear-gradient(to bottom, #FF8C08, transparent);
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0 auto; /* found workaround for container width: https://www.youtube.com/watch?v=FEmysQARWFU */
  z-index: 1;
}

nav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover{
  background-color: #FFFFFF;
  color: #FF8C08;
}

nav a:hover img {
  border-bottom:0px;
}

nav a:visited{
  background:#FFFFFF;
  opacity: 50%;
}

.navbar .icon {
  display: none;
}

/*Home Section */
#home{
  position: relative;
  padding-left: 10%;
}
.title{
  font-size: 8em;
  font-weight: bold;
  padding:0;
  margin:0;
  }

/*Home Section - JS BG */
canvas{
  background: linear-gradient(-135deg, #FF8C08, #FEA742);
  margin:0;
  position: relative;
  width: 100%;
  height: 120%;
  padding: 0;
}

#hero { 
  top: 0;
  margin: 0;
  overflow-x: hidden;
  z-index: -9999;
  width: 100%;
  height:120%;
  overflow: visible;
  padding: 0;
  position: absolute;
}

/*Home Section & Contact Me- Animated Arrow*/
.arrow {
  text-align: center;
  margin: 0;
  z-index: 1;
  padding: 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-8px);
  }
}
#arrow-element-down{
  text-decoration: none;
  color:#FFFFFF;
  font-weight:bold;
}

#arrow-element-up{
  text-decoration: none;
  color:#FFFFFF;
  font-weight:bold;
}


/*About Me section*/
#aboutme{
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  position: relative;
  padding:0;
  margin-top:0;
}

#aboutme-container{
  width: 80%;
  padding:0;
  margin-left: 10%;
  margin-right:10%;
  margin-top:-5%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#about-me-text-header{
  color: #FF8C08;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.para{
  overflow: auto;
}

#about-me-ill{
  width: 65%;
  padding-left: 80px;
}

/*Button https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
#cv-button{
  background-color: #FF8C08;
  border: none;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  transition: all 0.5s;
}

#cv-link{
  color: white;
  text-decoration: none;
}

/*Button Mechanics*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Project https://www.youtube.com/watch?v=_xkSvufmjEs&t=1121s*/
#work{
  width:100%;
  background-color: #FFFFFF;
  height: auto;
  display: block;
  padding:0;
  margin:0;
}

#work-wrapper{
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.section-title{
  color: #FF8C08;
  font-size: 2em;
}

.portfolio{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.portfolio-item{
  background-color: #FFFFFF;
}
.portfolio-img{
  height: 100%;
}

/* Contact Me*/
hr{
 border: 2px solid #FFFFFF;
/* https://www.w3schools.com/howto/howto_css_style_hr.asp*/
 margin:0;
}

#contactme{
  height: auto;
  background-color: #FF8C08;
  width: 100%;
  position: relative;
  padding:0;
  margin:0;
 }

#contact-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}

/* Social Media */
#smicon{
  float: left;
  margin-left: 10%;
}

#dribblelogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

#githublogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}

#linkedinlogo {
  float: left;
  width: 35px;
  height: 35px;
  padding-right: 20px;
  text-decoration: none !important;
}
/*Form*/
#form-div{
  padding-top: 5%;
}

form{
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 6px;
  border: 2px solid #FFFFFF;
}

.sb:before { /*Speech bubble - https://codingislove.com/css-speech-bubbles/*/
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #FFFFFF;
  border-top: 15px solid #FFFFFF;
  border-bottom: 15px solid transparent;
  left: -19px;
  top: 6px;
}

input{
  width: 100%;
  height: 30px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #FF8C08;
  border-radius: 4px;
  background-color: #FFFFFF;
  resize: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: bolder;
  line-height: 1em;
}

input:hover{
  border: 2px solid #FF8C08;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #FF8C08;
  border-radius: 4px;
  background-color: #FFFFFF;
  resize: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: bolder;
}

textarea:hover{
  border: 2px solid #FF8C08;
}

#send-button{
  background-color: #FF8C08;
  color: #FFFFFF;
  border: none;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  transition: all 0.5s;
}

/* Footer Section*/
.footer{
  padding: 0;
  margin: 0;
  top:auto;
}
#footer-div{ 
  width: 100%;
  margin: 0;
  padding: 0;
  left:0;
  bottom:0;
  top:auto;
  text-align: center;
  position: relative;
}

#footer-text{
  margin: 0;
  font-size: 1em;
  text-align: center;
  padding: 10px;
}

/*ADDITIONAL PAGES - Project examples*/
.projectexample-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;;
  margin:10%;
  padding:0;
}
.project-header-wrapper{
  display: block;
}

#project-header-link{
  text-decoration: none !important;
}

.project-header{
  font-size: 1.5em;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}

#tag-div{
  display:block;
  width: 100%;
  margin-top: 2%;
  float: left;
}

.tag{
  background-color: #FFFFFF;
  color: #9B8DA5;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

#projectexample_1{
  width: 100%;
  height:auto;
  border-radius: 4px;
}

.projectexample-text{
  top:0;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.block-para{
  color: #9B8DA5 !important;
  padding: 5% 10%;
}

/*Media Query*/
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .title{
    font-size: 5em;
    font-weight: 200; 
  }
  #aboutme-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #about-me-text {
    text-align: center;
  }
  #about-me-ill{
    width: 80%;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  .portfolio{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #contact-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  /*External Page*/
  .projectexample-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;;
    margin:5% 10%;
    padding:0;
  }
  .project-header-wrapper{
    display: block;
    margin-top: 10%;
  }
}